<a href="https://colab.research.google.com/github/yazfir/Projects2021/blob/master/DSLinkedin/02IntroPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Introducci√≥n al Pandas</h1>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('base_datos_2008.csv', nrows=100000)

In [4]:
df.head() #Las 5 primeras filas

   Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0  2008      1           3  ...       NaN            NaN                NaN
1  2008      1           3  ...       NaN            NaN                NaN
2  2008      1           3  ...       NaN            NaN                NaN
3  2008      1           3  ...       NaN            NaN                NaN
4  2008      1           3  ...       0.0            0.0               32.0

[5 rows x 29 columns]

In [5]:
df.head(10) #Se especifica las 10 primeras

   Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0  2008      1           3  ...       NaN            NaN                NaN
1  2008      1           3  ...       NaN            NaN                NaN
2  2008      1           3  ...       NaN            NaN                NaN
3  2008      1           3  ...       NaN            NaN                NaN
4  2008      1           3  ...       0.0            0.0               32.0
5  2008      1           3  ...       NaN            NaN                NaN
6  2008      1           3  ...       0.0            0.0               47.0
7  2008      1           3  ...       NaN            NaN                NaN
8  2008      1           3  ...       NaN            NaN                NaN
9  2008      1           3  ...       NaN            NaN                NaN

[10 rows x 29 columns]

In [6]:
df.tail() #Las 5 √∫ltimas filas

       Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
99995  2008      1          25  ...       0.0            0.0              129.0
99996  2008      1          26  ...       NaN            NaN                NaN
99997  2008      1          27  ...       0.0            0.0               40.0
99998  2008      1          28  ...       NaN            NaN                NaN
99999  2008      1          29  ...       NaN            NaN                NaN

[5 rows x 29 columns]

In [7]:
df.sample(frac=1) #es para mantener el 100% de las filas

       Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
75058  2008      1          26  ...       NaN            NaN                NaN
20296  2008      1           9  ...       NaN            NaN                NaN
25089  2008      1          10  ...       NaN            NaN                NaN
55474  2008      1          20  ...       NaN            NaN                NaN
20621  2008      1           9  ...       NaN            NaN                NaN
...     ...    ...         ...  ...       ...            ...                ...
97268  2008      1          10  ...       NaN            NaN                NaN
22239  2008      1          10  ...       2.0            0.0               21.0
47296  2008      1          17  ...       NaN            NaN                NaN
57851  2008      1          21  ...       0.0            0.0               41.0
58800  2008      1          21  ...       NaN            NaN                NaN

[100000 rows x 29 columns]

In [10]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [11]:
df.DepTime #Para ver una columna particular

0        2003.0
1         754.0
2         628.0
3         926.0
4        1829.0
          ...
99995    2204.0
99996    1933.0
99997    2047.0
99998    1956.0
99999    1938.0
Name: DepTime, Length: 100000, dtype: float64

In [12]:
df.dtypes #Con esta instrucci√≥n vemos los tipos de datos de cada columna

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [13]:
df.values #es para obtener los valores en un array

array([[2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       ...,
       [2008, 1, 27, ..., 0.0, 0.0, 40.0],
       [2008, 1, 28, ..., nan, nan, nan],
       [2008, 1, 29, ..., nan, nan, nan]], dtype=object)

In [14]:
#Si quisieramos trabajar con un extracto de nuestro datos, podr√≠a hacer algo as√≠

df2 = df.head(15)
df2

    Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
0   2008      1           3  ...       NaN            NaN                NaN
1   2008      1           3  ...       NaN            NaN                NaN
2   2008      1           3  ...       NaN            NaN                NaN
3   2008      1           3  ...       NaN            NaN                NaN
4   2008      1           3  ...       0.0            0.0               32.0
5   2008      1           3  ...       NaN            NaN                NaN
6   2008      1           3  ...       0.0            0.0               47.0
7   2008      1           3  ...       NaN            NaN                NaN
8   2008      1           3  ...       NaN            NaN                NaN
9   2008      1           3  ...       NaN            NaN                NaN
10  2008      1           3  ...       NaN            NaN                NaN
11  2008      1           3  ...       0.0            0.0               72.0
12  2008      1           3  ...       NaN            NaN                NaN
13  2008      1           3  ...       NaN            NaN                NaN
14  2008      1           3  ...       NaN            NaN                NaN

[15 rows x 29 columns]