<a href="https://colab.research.google.com/github/yazfir/Projects2021/blob/master/DSLinkedin/03FiltrarDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Herramientas de Filtrado de Pandas</h1>

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('base_datos_2008.csv', nrows=100000)

In [27]:
#Obtener información de una columna concreta

df['ArrDelay'].head()

0   -14.0
1     2.0
2    14.0
3    -6.0
4    34.0
Name: ArrDelay, dtype: float64

In [28]:
#Si quisieramos tomar filas intermedias de muestra

df[100:110] #De la fila 100 a la 110

     Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
100  2008      1           3  ...       NaN            NaN                NaN
101  2008      1           3  ...       6.0            0.0               46.0
102  2008      1           3  ...       0.0            0.0               16.0
103  2008      1           3  ...       NaN            NaN                NaN
104  2008      1           3  ...       4.0            0.0               47.0
105  2008      1           3  ...       0.0            0.0               96.0
106  2008      1           3  ...       NaN            NaN                NaN
107  2008      1           3  ...       NaN            NaN                NaN
108  2008      1           3  ...       NaN            NaN                NaN
109  2008      1           3  ...       0.0            0.0               51.0

[10 rows x 29 columns]

In [29]:
#Si se quiere algún valor con alguna comparativa concreta
#Ejem. Primeros 5 Vuelos retrasado más 60 min de la lista

df[df['ArrDelay'] > 60].head()

    Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
11  2008      1           3  ...       0.0            0.0               72.0
30  2008      1           3  ...       0.0            0.0               59.0
37  2008      1           3  ...       0.0            0.0               69.0
49  2008      1           3  ...       0.0            0.0               22.0
77  2008      1           3  ...       4.0            0.0               58.0

[5 rows x 29 columns]

In [31]:
#Vuelos que salieron de Houston

df[df["Origin"] == "HOU"].head()

      Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
3269  2008      1           4  ...       NaN            NaN                NaN
3270  2008      1           4  ...       NaN            NaN                NaN
3271  2008      1           4  ...       NaN            NaN                NaN
3272  2008      1           4  ...       NaN            NaN                NaN
3273  2008      1           4  ...       NaN            NaN                NaN

[5 rows x 29 columns]

In [33]:
# O también más complejo como...
# Con & es una y otra (AND)
# Con | es una o otra (OR)

df[ (df["Origin"] == "HOU") & (df['ArrDelay']>60) ].head()

      Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
3372  2008      1           4  ...       0.0            0.0               69.0
3400  2008      1           4  ...      14.0            0.0               56.0
6564  2008      1           5  ...       0.0            0.0              160.0
9508  2008      1           6  ...       0.0            0.0               55.0
9541  2008      1           6  ...       0.0            0.0               55.0

[5 rows x 29 columns]

In [40]:
#Uso de varios valores de origen en forma de lista

df[df.Origin.isin(['HOU','PHX'])].head()

      Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
1331  2008      1           3  ...       NaN            NaN                NaN
1332  2008      1           3  ...       0.0            0.0               33.0
1333  2008      1           3  ...       0.0            0.0               11.0
1334  2008      1           3  ...       NaN            NaN                NaN
1335  2008      1           3  ...       0.0            0.0               62.0

[5 rows x 29 columns]

In [41]:
#Con una función de pandas que nos dice si no existen los datos (NaN)

df[pd.isna(df['ArrDelay'])].head()

     Year  Month  DayofMonth  ...  NASDelay  SecurityDelay  LateAircraftDelay
178  2008      1           3  ...       NaN            NaN                NaN
373  2008      1           3  ...       NaN            NaN                NaN
399  2008      1           3  ...       NaN            NaN                NaN
401  2008      1           3  ...       NaN            NaN                NaN
415  2008      1           3  ...       NaN            NaN                NaN

[5 rows x 29 columns]

In [42]:
#Cantidad de registros o filas sin datos en ArrDelay

len(df[pd.isna(df['ArrDelay'])])

1302