<a href="https://colab.research.google.com/github/yazfir/Projects2021/blob/master/DSLinkedin/05GroupByObtenerDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Usando Group By para obtener información esencial</h1>

In [61]:
import pandas as pd

In [63]:
df = pd.read_csv('base_datos_2008.csv')

In [65]:
#Obtener el retraso máximo cada día de la semana

df.groupby(by='DayOfWeek')['ArrDelay'].max()

DayOfWeek
1    1292.0
2    1312.0
3    1357.0
4    1253.0
5    1357.0
6    1525.0
7    2461.0
Name: ArrDelay, dtype: float64

In [66]:
#Obtener la media retraso para cada día de la semana

df.groupby(by='DayOfWeek')['ArrDelay'].mean()

DayOfWeek
1    12.350101
2    13.883902
3     9.744179
4    11.489265
5    13.855860
6     6.260954
7    11.455216
Name: ArrDelay, dtype: float64

In [67]:
#Resumen estadístico para cada día de la semana

df.groupby(by='DayOfWeek')['ArrDelay'].describe()

              count       mean        std   min   25%  50%   75%     max
DayOfWeek
1          176732.0  12.350101  42.125676 -80.0  -9.0  0.0  16.0  1292.0
2          186351.0  13.883902  44.109974 -68.0  -8.0  1.0  19.0  1312.0
3          190680.0   9.744179  38.390034 -75.0  -9.0  0.0  14.0  1357.0
4          196235.0  11.489265  38.915835 -69.0  -8.0  1.0  17.0  1253.0
5          195025.0  13.855860  40.213628 -86.0  -7.0  2.0  20.0  1357.0
6          144305.0   6.260954  36.032183 -91.0 -11.0 -2.0  11.0  1525.0
7          164533.0  11.455216  42.479417 -90.0  -9.0  0.0  16.0  2461.0

In [70]:
#Añadiendo otra columna para comparativa y esta siendo del mismo tipo de dato

df.groupby(by='DayOfWeek')['ArrDelay','DepDelay'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

            ArrDelay   DepDelay
DayOfWeek
1          12.350101  13.587154
2          13.883902  13.834025
3           9.744179  11.270844
4          11.489265  12.206627
5          13.855860  14.555049
6           6.260954   9.089839
7          11.455216  13.282809

In [71]:
df.groupby(by='DayOfWeek')['ArrDelay'].max() - df.groupby(by='DayOfWeek')['ArrDelay'].min()

DayOfWeek
1    1372.0
2    1380.0
3    1432.0
4    1322.0
5    1443.0
6    1616.0
7    2551.0
Name: ArrDelay, dtype: float64

##Generamos una nueva BD para un nuevo ejercicio

In [72]:
dfINDHOU = df[df.Origin.isin(['IND','HOU'])]

In [73]:
#Para cada día de la semana de los Origenes IND y HOU obtener la media de retrasos
dfINDHOU.groupby(by=['DayOfWeek','Origin'])['ArrDelay'].mean()

DayOfWeek  Origin
1          HOU       14.536634
           IND       12.935788
2          HOU       14.869211
           IND       20.685792
3          HOU       13.650447
           IND       12.058824
4          HOU       18.280494
           IND       10.592184
5          HOU       13.287172
           IND       13.045775
6          HOU        4.344964
           IND        1.398429
7          HOU       12.109375
           IND        7.203801
Name: ArrDelay, dtype: float64

In [75]:
#El orden si importa porque podría resultar en una mala interpretación

dfINDHOU.groupby(by=['Origin','DayOfWeek'])['ArrDelay'].mean()

Origin  DayOfWeek
HOU     1            14.536634
        2            14.869211
        3            13.650447
        4            18.280494
        5            13.287172
        6             4.344964
        7            12.109375
IND     1            12.935788
        2            20.685792
        3            12.058824
        4            10.592184
        5            13.045775
        6             1.398429
        7             7.203801
Name: ArrDelay, dtype: float64

<h3>Los objetos group by puede guardarse para un posterior uso.</h3>

In [76]:
mygroupby = dfINDHOU.groupby(by=['Origin','DayOfWeek'])['ArrDelay']

In [77]:
mygroupby.max()

Origin  DayOfWeek
HOU     1            301.0
        2            341.0
        3            344.0
        4            328.0
        5            232.0
        6            322.0
        7            674.0
IND     1            382.0
        2            434.0
        3            399.0
        4            462.0
        5            246.0
        6            162.0
        7            309.0
Name: ArrDelay, dtype: float64

In [78]:
mygroupby.min()

Origin  DayOfWeek
HOU     1           -40.0
        2           -37.0
        3           -38.0
        4           -42.0
        5           -40.0
        6           -41.0
        7           -49.0
IND     1           -49.0
        2           -40.0
        3           -45.0
        4           -44.0
        5           -43.0
        6           -38.0
        7           -45.0
Name: ArrDelay, dtype: float64

In [79]:
mygroupby.describe()

                   count       mean        std   min   25%  50%    75%    max
Origin DayOfWeek
HOU    1          2020.0  14.536634  38.622199 -40.0  -5.0  1.0  18.00  301.0
       2          1965.0  14.869211  40.113532 -37.0  -5.0  1.0  18.00  341.0
       3          2014.0  13.650447  34.316055 -38.0  -4.0  2.0  18.75  344.0
       4          2025.0  18.280494  40.083354 -42.0  -3.0  5.0  25.00  328.0
       5          2058.0  13.287172  29.493103 -40.0  -4.0  3.0  21.00  232.0
       6          1261.0   4.344964  27.834673 -41.0  -9.0 -2.0   7.00  322.0
       7          1664.0  12.109375  35.464448 -49.0  -5.0  3.0  17.00  674.0
IND    1          1059.0  12.935788  46.257862 -49.0 -10.0  0.0  15.00  382.0
       2          1098.0  20.685792  53.123020 -40.0  -7.0  4.0  26.75  434.0
       3          1122.0  12.058824  38.770789 -45.0  -9.0  2.0  19.00  399.0
       4          1177.0  10.592184  39.115739 -44.0  -9.0  2.0  16.00  462.0
       5          1136.0  13.045775  36.745962 -43.0  -8.0  3.0  22.00  246.0
       6           891.0   1.398429  25.527151 -38.0 -14.0 -4.0   9.00  162.0
       7           947.0   7.203801  35.057001 -45.0 -11.0 -1.0  12.50  309.0